@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 230, 230;
  --background-mid-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 50, 50;
    --background-mid-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;
  }

}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at center, rgb(var(--background-start-rgb)), rgb(var(--background-mid-rgb)), rgb(var(--background-end-rgb)) 100%)
}

html, body {
  margin: 0;
  height: 100%;
}